# Introdução à linguagem de programação Python para Biocientistas

## Porque Python para Biocientistas?

A biologia moderna é uma ciência de dados. Seja na genômica, na proteômica, na biologia celular ou na ecologia, a quantidade de dados gerados diariamente é imensa. Analisar, interpretar e extrair conhecimento significativo dessa avalanche de informações é um dos maiores desafios do biocientista atual. É exatamente aqui que a programação se torna uma ferramenta indispensável, e o Python se destaca como a linguagem de escolha para a comunidade científica.

* Simplicidade e Curva de Aprendizagem Suave: Python foi projetado com uma
sintaxe limpa e legível, que se assemelha muito à linguagem humana. Para um cientista, cujo foco principal é a pesquisa biológica e não a ciência da computação, essa simplicidade significa que é possível começar a escrever scripts úteis e automatizar tarefas muito mais rápido do que com outras linguagens de programação.

* Um Ecossistema Robusto de Bibliotecas Científicas: A verdadeira força do Python para a ciência reside em seu vasto conjunto de "bibliotecas" — pacotes de código pronto que oferecem funcionalidades complexas de forma simples. Para um biocientista, isso significa ter ao alcance dos dedos ferramentas poderosas para:

* Bioinformática com Biopython: Como mencionado no plano de aula, o Biopython é uma biblioteca fundamental que permite manipular sequências de DNA, RNA e proteínas, acessar bancos de dados biológicos online (como o NCBI), analisar estruturas de moléculas e muito mais.

* Análise de Dados com Pandas e NumPy: O Pandas permite trabalhar com tabelas de dados (como planilhas de Excel, mas com superpoderes), ideal para organizar dados de expressão gênica ou resultados de experimentos. O NumPy é a base para qualquer cálculo numérico e estatístico em larga escala.

* Visualização de Dados com Matplotlib e Seaborn: Criar gráficos e figuras de alta qualidade para artigos e apresentações é crucial. Essas bibliotecas permitem a criação de praticamente qualquer tipo de visualização estatística, desde gráficos de barra e dispersão até heatmaps complexos.

* Machine Learning com Scikit-learn: A inteligência artificial está revolucionando a biologia, e o Python está no centro dessa revolução. Bibliotecas como o Scikit-learn tornam acessível a aplicação de algoritmos de aprendizado de máquina para prever interações medicamentosas, classificar tipos de células ou encontrar padrões em dados genômicos.

## Introdução ao Python

### Python

Python é uma linguagem de programação interpretada que foi lançada em 1991 e vem ganhando muitos adeptos por já ter uma forte comunidade que trabalha para o desenvolvimento de aplicações, utiliza o modelo comunitário de desenvolvimento e tem licença livre.

### Anaconda

Anaconda é um software de distribuição livre e de código aberto para as linguagens de programação em Python e R, Anaconda facilita muito o trabalho das pessoas que querem aprender a programar em Python ou R, pois já instala mais de 250 pacotes científicos para o usuário sem a necessidade instalação manual.

Para instalação da Anaconda entre no site www.anaconda.com/downloads, escolha a versão do Python 3.6 ou 2.7, neste livro utilizaremos a versão 3.6

Dentro do software Anaconda contém aplicações com interface gráfica para os usuários, onde facilitará o uso do Python ou R para os usuários.

Uma destas aplicações é Jupyter Notebook é um ambiente gráfico para a programação em Python, R e Julia, que pode ser acessado online que o usuário pode programar mesmo online ou instalar o Jupyter Notebook em seu computador. O website é http://jupyter.org/.

### Comandos Básicos

Em Python a cerquilha (#) é utilizado para comentários do programa, tudo que vem posterior à cerquilha será ignorado pelo Python, serve apenas para explicar ou orientar o programador.
A primeira função é o print, que tem a função de imprimir, então temos que escrever print e entres os parênteses colocar o que queremos que o Python imprima.

In [1]:
# Teste

In [2]:
# Meu primeiro programa
print("Hello World")

Hello World

In [3]:
print('Oi')

Oi

In [4]:
# Vamos tentar diferente
a = "Olá "
b = "Mundo"
print(a + b)

Olá Mundo

In [5]:
# Contas Simples
4 + 7

11

Pode-se também realizar expressões mais complexas com os operadores básicos:

Adição (+);

Subtração (-) ;

Multiplicação (*);

Divisão (/)

Exponenciação (**) ;

Parte inteira da divisão (//)

Resto da divisão (%)

In [6]:
#Subtração
7 - 4

3

In [7]:
# Divisão
8 / 2

4.0

In [8]:
# Multiplicação
11 * 7

77

In [9]:
# Exponenciação
8 ** 2

64

In [10]:
# Divisão - Parte Inteira
11 // 2

5

In [11]:
# Divisão - Resto
11 % 2

1

### Tipos de Variáveis

Existem alguns padrões de tipos de dados em Python, que são padrões de dados reconhecidos pela linguagem de programação, normalmente quando possíveis eles são mutáveis, dentro dos padrões numéricos existentes alguns tipos, que são os números inteiros (‘int’), números decimais (‘float’), números complexos (‘complex’) e um subitem dos números inteiros são os booleanos (‘bool’), este último está relacionado com Verdadeiro (‘True’) e Falso (‘False’), o valor Verdadeiro também recebe o valor de 1, e o valor Falso recebe 0.

As saídas do exemplo anterior já foram classificadas automaticamente os tipos de dados de acordo com a sua entrada.

O comando type retorna o tipo de padrão de dados que a Python classificou.

In [12]:
a = 7 - 4
print(type(a))

<class 'int'>

In [13]:
b = 7 - 4.0
print(type(b))

<class 'float'>

In [14]:
c = "quatro"
print(type(c))

<class 'str'>

In [17]:
d = 4 + 2j
print(type(d))

<class 'complex'>

In [16]:
e = True
print(type(e))

<class 'bool'>

### Várias formas de escrever o mesmo programa

In [18]:
a = 2
b = 3
print (a + b)

5

In [19]:
print(2 + 3)

5

In [20]:
print(5)

5

### Programa 1

Cálculo de diluição de solução

In [21]:
# Programa - Cálculo de diluição de solução

# c1 = Concentração inicial, v1 = Volume inicial
# v2 = Volume final, c2 = Concentração final
c1 = 10.0  # Ex: Concentração da solução estoque em Molar (M)
v1 = 5.0   # Ex: Volume que será retirado do estoque (em mL)
v2 = 50.0  # Ex: Volume final da nova solução (em mL)

# A fórmula da diluição é C1 * V1 = C2 * V2
# Para encontrar a concentração final (C2), usamos: C2 = (C1 * V1) / V2
c2 = (c1 * v1) / v2

# Imprime o resultado da concentração final
print("A concentração final da solução é:")
print(c2)

A concentração final da solução é:
1.0

### Operadores relacionais

In [22]:
a = 1
b = 5
c = 2
d = 1

In [23]:
a == b # a é igual a b?

False

In [24]:
a < b # a é menor que b?

True

In [25]:
b > a # b é maior que a?

True

In [26]:
a == d # a é igual a d?

True

In [27]:
c <= b # c é menor ou igual a b?

True

In [28]:
d != a # d é diferente de a ?

False

In [29]:
d != b # d é diferente de b?

True

# Aula 02

### Operadores lógicos

In [30]:
not True

False

In [31]:
not False

True

In [32]:
True and True

True

In [33]:
True and False

False

In [34]:
False and False

False

In [35]:
False and True

False

In [36]:
True or False

True

In [37]:
True or True

True

In [38]:
False or True

True

In [39]:
False or False

False

Teste que o salário tem que ser maior que 1000 e ter idade maior que 18 anos

In [ ]:
salario = 1500
idade = 18
salario > 1000 and idade >= 18

True

In [ ]:
salario = 1500
idade = 17
salario > 1000 and idade >= 18

False

### Variáveis string

A função len retorna o tamanho da string, um número inteiro, para ver a documentação aperte o botão shift + Tab

In [ ]:
len("A")

1

In [ ]:
len("AB")

2

In [ ]:
len("o rato roeu a roupa")

19

In [ ]:
a = "ABCDEF"

In [ ]:
a[0]

'A'

In [ ]:
a[1]

'B'

In [ ]:
a[6]

IndexError: string index out of range

In [ ]:
a[-1]

In [ ]:
a[-2]

In [ ]:
a[:]

In [ ]:
a[0:6]

In [ ]:
a[0:3]

In [ ]:
a[2:6]

### Concatenação

In [ ]:
s = "ABC"
s + "C"

'ABCC'

In [ ]:
s + "D" * 4

'ABCDDDD'

In [ ]:
"X"+ "-"*10 + "X"

'X----------X'

Esta forma de concatenação só pode ser utilizado por strings

### Composição

In [40]:
nome = "João"
idade = 39
grana = 60.59
print(f"{nome} tem {idade} anos e R$ {grana:.2f} no bolso")

João tem 39 anos e R$ 60.59 no bolso

Forma mais moderna para compor a frase é utilizando format

### Sequência e tempo

Um programa é executado linha por linha pelo computador, executando as operações descritas no programa uma após a outra. Quando trabalhamos com variáveis, devemos lembrar de que o conteúdo de uma variável pode variar com o tempo.

In [ ]:
divida = 0
compra = 200
divida = divida + compra
compra = 250
divida = divida + compra
compra = 315
divida = divida + compra
compra = 0
print(divida)

765

### Entrada de dados

In [ ]:
nome = input("Qual é o seu nome?")
print("Olá "+ nome)

Qual é o seu nome?Marcel
Olá Marcel

In [ ]:
x = input("Digite um número: ")
print(x)

Digite um número: 12
12

In [42]:
# Programa interativo para cálculo de diluição

# Pede ao usuário para inserir os valores
c1 = float(input("Digite o valor da concentração inicial: "))
unidade_c = input("Qual a unidade de concentração (ex: M, mM, µM)? ")

v1 = float(input("Digite o valor do volume inicial: "))
unidade_v = input("Qual a unidade de volume (ex: L, mL, µL)? ")

v2 = float(input(f"Digite o valor do volume final (em {unidade_v}): "))

# Realiza o cálculo da diluição
c2 = (c1 * v1) / v2

# Exibe o resultado de forma formatada (usando f-string)
# O :.2f formata o número para exibir apenas 2 casas decimais
print(f"A concentração final da sua solução será de {c2:.2f} {unidade_c}.")

Digite o valor da concentração inicial: 5
Qual a unidade de concentração (ex: M, mM, µM)? M
Digite o valor do volume inicial: 10
Qual a unidade de volume (ex: L, mL, µL)? mL
Digite o valor do volume final (em mL): 5
A concentração final da sua solução será de 10.00 M.

### Conversão de entrada de dados

A função input sempre retorna valores do tipo string

In [43]:
anos = int(input("Anos de serviço: "))
valor_por_ano = float(input("Valor por ano: "))
bonus = anos * valor_por_ano
print("Bonus de R$ {}".format(bonus))

Anos de serviço: 12
Valor por ano: 50
Bonus de R$ 600.0

In [44]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Neste capítulos vimos as funções:

print

type

len

input

int

float

help

Você pode estudar as funções built-in do Python em sua documentação
https://docs.python.org/3/library/functions.html

### Exercícios

1 - Escreva um programa que converta uma temperatura digitada em graus Celsius para graus Fahrenheit.

2 -  Escreva um programa que leia um valor em metros e o exiba convertido em milimetros.

3- Faça um programa que receba (entrada de dados) o valor correspondente ao lado de um quadrado, calcule e imprima (saída de dados) seu perímetro e sua área.

4 - Faça um programa que receba quatro notas, calcule e imprima a média aritmética.

5 - Calcule o índice de massa corporal, entrando com os valores de massa do indíviduo e estatura.

#### Exercício 1

In [ ]:
# Exercício 1 - Converte graus Celsius em Fahrenheit
C = float(input("Entre com o valor em graus Celsius: "))
F = ((9 * C)/5)+32
print("A Temperatura em graus Fahrenheit é {}".format(F))

Entre com o valor em graus Celsius: 35
A Temperatura em graus Fahrenheit é 95.0

In [ ]:
# Exercício 2 - Converte metros em milimetros
M = float(input("Entre com o valor da distância em metros: "))
mm = M * 1000
print("A distância em milimetros é {}".format(mm))

Entre com o valor da distância em metros: 10
A distância em milimetros é 10000.0

In [ ]:
#Exercício 3 - Calcula o perímetro e área de um quadrado de lado l

l = input("Entre com o valor do lado do quadrado ")
l = int(l)

x = l *4
y = l*l

print('perímetro:', x, '-área:', y)

Entre com o valor do lado do quadrado 15
perímetro: 60 -área: 225

In [ ]:
#Exercício 4 - Faça um programa em Python que receba quatro notas, calcule e imprima a média aritmética.

a = input('Entre com o valor da primeira nota')
b = input('Entre com o valor da segunda nota')
c = input('Entre com o valor da terceira nota')
d = input('Entre com o valor da quarta nota')
a = float(a)
b = float(b)
c = float(c)
d = float(d)
media = (a + b + c + d) / 4
print('A média aritmética é', media)

Entre com o valor da primeira nota10
Entre com o valor da segunda nota7
Entre com o valor da terceira nota6
Entre com o valor da quarta nota6.5
A média aritmética é 7.375

In [ ]:
# Exercício 5 - Calcule IMC
massa = float(input("Entre com o peso em quilogramas: "))
altura = float(input("Entre com a estatura em metros: "))
IMC = (massa) / (altura**2)
print("O índice de massa corporal é {}".format(IMC))

Entre com o peso em quilogramas: 85
Entre com a estatura em metros: 1.82
O índice de massa corporal é 25.661152034778407

Desafio - Faça um programa em que dada a quantidade de segundos, converta esse valor em dias, horas, minutos e segundos. A saída deve estar no formato: a dias, b horas, c minutos e d segundos.

In [ ]:
seg = int(input("Entre com o tempo em segundos que quer converter: "))
dia = seg // 86400
dia_rest = seg % 86400
hora = dia_rest // 3600
hora_rest = dia_rest % 3600
min = hora_rest // 60
seg_rest = hora_rest % 60

print(dia, "dias,", hora, "horas,", min, "minutos e", seg_rest, "segundos." )

Entre com o tempo em segundos que quer converter: 2000
0 dias, 0 horas, 33 minutos e 20 segundos.